 <div class="contenedor d-flex justify-content-center">
   <div class="container mt-5">
      <div class="row">
       <div class="col-lg-12 d-flex justify-content-center align-items-center">
        <div>
            <div class="containerLogin" style="width: 100%; height: 400%;">
              <div class="loginTitulo">
                  <p class="titulo"> <i> Teleperformance </i> </p>
              </div>
              <div class="loginSubTitulo">
              </div>
              <form novalidate (ngSubmit)="crearRequerimiento()" [formGroup]="datos">
                  <div class="container">
                  <mat-form-field class="container nombre">
                      <input [formControl]="nombreCompleto" class="" type="text" matInput #input  placeholder="Nombre" required>
                      <mat-error *ngIf="nombreCompleto.invalid">{{getNombreMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <br>
                <div class="container">
                 <mat-form-field class="container nombre">
                    <input [formControl]="apellido" class="" type="text" matInput #input  placeholder="Apellido" required>
                    <mat-error *ngIf="apellido.invalid">{{getApellidoMessage()}}</mat-error>
               </mat-form-field>
            </div>
              <br>
              <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                      <mat-form-field  class="container documento">
                          <input [formControl]="numeroCedula" type="text" matInput #input maxlength="10" placeholder="Nick" required>
                          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                          <mat-error *ngIf="numeroCedula.invalid">{{getNumeroCedulaMessage()}}</mat-error>
                        </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                      <mat-form-field class="container pais">
                          <input [formControl]="celular" type="text" matInput #input maxlength="10" placeholder="Telefono" required>
                          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
                          <mat-error *ngIf="celular.invalid">{{getCelularMessage()}}</mat-error>
                        </mat-form-field>
                  </div>
                </div>
              </div>
              <br>

                    <div class="container">
                        <mat-form-field class="container nombre">
                          <input matInput placeholder="Direccion" [formControl]="direccion" required>
                          <mat-error *ngIf="direccion.invalid">{{getDireccionMessage()}}</mat-error>
                        </mat-form-field>
                  </div>
                  <br>
                    <div class="container">
                          <mat-form-field class="container nombre">
                            <input matInput placeholder="Correo Electronico" [formControl]="email" required>
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                          </mat-form-field>
                    </div>

                    <button class="btn btn-info" type="submit">crear</button>
                  </form>
                    <br>
               </div>
            </div>

</div>








<router-outlet></router-outlet>




